<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.salesucation.colorgame" version="0.0.3">
	<icon src="icon.png" width="84" height="86"/>
    <name>ColorGame</name>

    <description>
        game with colors
    </description>
    <content src="index.html" />
    <author href="https://mikezindel.github.io" email="mikezindel@hotmail.com">
       Mike Z    </author>
    <!-- We'll include the Barcode plugin as an example -->
    <preference name="phonegap-version" value="3.7.0" />
    <feature name="Not sure">
        <param name="ios-package" value="CDVLocation" />
    </feature>
</widget>
